#!/usr/bin/env python
# -*- coding: utf-8 -*-

# ====== CARBON settings   ========= #
CARBON_SERVER   = 'localhost'
CARBON_PORT     = 2003

# ====== URL settings ========= #
BASE_URL        = 'http://<ip>:8080/v1/node/'
ACCESS_TOKEN    = ''
STDOUT          = True
DOLOG           = False
